html, body{
    color: white;
    background-color: #21232A;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 1.3rem;
}
button{
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 50px;
    padding: 10px;
}